doctype html
html
  head
    title= title
    link(href='http://www.ringcentral.com/content/dam/ringcentral/images/favicon.ico' type='image/vnd.microsoft.icon' rel='shortcut icon')
    link(href='http://www.ringcentral.com/content/dam/ringcentral/images/favicon.ico' type='image/vnd.microsoft.icon' rel='icon')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome-more.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/vendor/fetch/fetch.js')
    script(type='text/javascript', src='/vendor/es6-promise/promise.js')
    script(type='text/javascript', src='/vendor/pubnub/web/pubnub.js')
    script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/vendor/ringcentral/build/ringcentral.js')
    script(type='text/javascript', src='/vendor/ringcentral-helpers/build/ringcentral-helpers.js')
    script(type='text/javascript', src='/javascripts/rcDemoApp.js')
  body
    block content
