doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://www.ringcentral.com/content/dam/ringcentral/images/favicon.ico' type='image/vnd.microsoft.icon' rel='shortcut icon')
    link(href='http://www.ringcentral.com/content/dam/ringcentral/images/favicon.ico' type='image/vnd.microsoft.icon' rel='icon')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome-more.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/vendor/fuelux/dist/css/fuelux.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='fuelux')
    <video id="remoteVideo" hidden="hidden"></video>
    <video id="localVideo" hidden="hidden" muted="muted"></video>

    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
      div(class='container')
        div(class='navbar-header')
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href='./index.html', style='color:#FFF;font-size:150%')
            span(style='color:deepskyblue') WebRTC 
              span(style='color:orange')  Demo
                i(class='fa fa-rss fa-rotate-45', style='color:deepskyblue')
        div(class='navbar-collapse collapse')
          ul(id='menu-bar-items', class='nav navbar-nav')

          div(class='btn-group pull-right', style='margin-top:10px')
            button(type='button', class='btn btn-sm btn-default' id='rcAuthConfigure')
              i(class='fa fa-wrench') Configure

          ul(class='top-menu-right')

    block content
  block scriptVars
  script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  script(type='text/javascript', src='/vendor/sip.js/dist/sip.js')
  script(type='text/javascript', src='/vendor/fetch/fetch.js')
  script(type='text/javascript', src='/vendor/es6-promise/promise.js')
  script(type='text/javascript', src='/vendor/pubnub/web/pubnub.js')
  script(type='text/javascript', src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='/vendor/fuelux/dist/js/fuelux.min.js')
  script(type='text/javascript', src='/vendor/ringcentral/build/ringcentral.js')
  script(type='text/javascript', src='/vendor/ringcentral-web-phone/src/ringcentral-web-phone.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/rcDemoApp.js')
  block scripts
